.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.main__div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.main__div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.main__div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.main__div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.main__div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.main__div6 {
  grid-area: 3 / 2 / 4 / 3;
}
