:root {
  --title-h2-color: #172755;
  --text-color: #8794ba;
}

.main__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 100px;
  width: 1180px;
  height: 410px;
  flex: none;
  /*order: 0;*/
  flex-grow: 0;
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 480px;
  height: 232px;
  flex: none;
  /*order: 1;*/
  flex-grow: 0;
}

.content__picture {
  width: 600px;
  height: 410px;
  flex: none;
  /*order: 0;*/
  flex-grow: 0;
}

.div__title {
  width: 480px;
  height: 94px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--title-h2-color);
}

.div__text {
  color: var(--text-color);
  width: 480px;
  height: 108px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/*For move the footer*/
* {
  box-sizing: border-box;
}

h4 {
  color: blue;
}

.footer_text {
  color: violet;
  margin: 20px;
}

.footer_but {
  color: #172755;
}

@media screen and (max-width: 500px) {
  .footer {
    display: flex;
    overflow: scroll;
    padding: 24px;
    width: 300рх;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
  }

  .footer .card {
    flex: 0 0 70%;
    padding: 24px;
    border-radius: 15px;
    scroll-snap-align: start;
  }
}
